<!DOCTYPE html>
<html lang="en">
<head>
	<title>{{ page_title }}</title>
	<meta charset="utf-8" />
	<link href="{{ static_url("css/bootstrap.min.css") }}" rel="stylesheet" media="screen">
	<link href="{{ static_url("css/bootstrap-responsive.css") }}" rel="stylesheet" media="screen">
	<script src="http://code.jquery.com/jquery-latest.min.js"></script>
	<script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.3.2/jquery.js"></script>
	<link href="{{ static_url("css/timePicker.css") }}" rel="stylesheet" media="screen">
	<link rel="stylesheet" href="http://code.jquery.com/ui/1.10.1/themes/base/jquery-ui.css" />
  	<script src="http://code.jquery.com/jquery-1.9.1.js"></script>
  	<script src="http://code.jquery.com/ui/1.10.1/jquery-ui.js"></script>
  	<script src="{{ static_url("js/bootstrap.min.js") }}"></script>
	<script src="{{ static_url("js/jquery.timePicker.js") }}"></script>
	<script>
	  $(function() {
	    $( "#datepicker" ).datepicker();
	  });
  	</script>
</head>
<style>
	body {
		position: relative;
		padding-top: 40px;
	}

	.footer {
		text-align: center;
		padding: 30px 0;
		margin-top: 70px;
		border-top: 1px solid #e5e5e5;
		background-image: url({{ static_url("images/black-matte-bg.jpg") }});
	}
	footer-links {
		margin: 10px 0;
	}
	.footer-links li {
		display: inline;
		padding: 0 2px;
	}
	.dropdown-menu {
		text-align: left;
	}
</style>

<body>
	<div class="container">
		<h4>{{ header_text }}</h4>
		<div class="row-fluid">
			<div id="menu-bar" class="span3">
				<a href="/"><button class="btn btn-primary">Main</button></a>
			</div>
			<div id="menu-bar" class="span3">
				<a href="/add/"><button class="btn btn-primary">Add Student</button></a>
			</div>
		</div>
		{% block body %}{% end %}
	</div>
	<br>
	<script src="{{ static_url("js/script.js") }}"></script>
</body>
</html>



