{% extends "main.html" %}
{% autoescape None %}

{% block body %}
<script>
	$(function() {
		$('#time1').timePicker({
			separator: ":",
			step: 30
		});
	});
</script>

<br>
<div class="row-fluid">
	<div class="span12">
	    <div class="row-fluid">
	    	<div class="span6">
	    	</div>
	      <div class="span6"></div>
	    </div>
	    <div class="row-fluid">
	    	<div class="span6">
	    		<h3>¿En que fecha ocurrió este evento?</h3>
	      		Día: <input type="text" id="datepicker" name="date"><br>
				Hora: <input type="text" id="time1" name="time"><br>
	    	</div>
	    <div class="span6">
	    	<h3>El Norte</h3>
	    	<p><strong>Monterrey, Nuevo León</strong> - 03/04/2013: Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam ac volutpat elit. Nullam est enim, interdum ut vehicula fermentum, laoreet eget libero. Aliquam id pretium ante. Proin elementum semper fringilla. Sed ut tortor fermentum mauris congue scelerisque. Nam tincidunt, nunc non posuere placerat, sapien tortor volutpat purus, ut fringilla lacus felis quis lectus. Fusce ornare, sapien at varius luctus, sem magna volutpat lacus, non blandit elit orci et neque. Proin nisi massa, dignissim quis auctor eu, condimentum ut massa. Sed mi ipsum, dapibus sed venenatis non, aliquet id felis. Ut rutrum ultrices gravida. Mauris gravida consectetur velit quis aliquam. Duis et magna nunc, porta tincidunt sapien. Ut ligula justo, eleifend a venenatis vel, sagittis et nisl.

			Donec et aliquam odio. Mauris interdum pharetra cursus. Duis eu egestas augue. Nunc vestibulum varius neque at lacinia. Proin id ipsum vel lectus consequat hendrerit. Donec ac nunc nec felis convallis congue nec nec dui. Sed elementum malesuada leo, ut imperdiet elit tempus ullamcorper. Vivamus porttitor, lectus at bibendum suscipit, lacus neque ornare ante, id viverra lorem elit sit amet mauris.

			Praesent sed tempor purus. Cras convallis viverra lectus, eu sollicitudin neque fringilla vitae. Maecenas sodales posuere urna ut tincidunt. Etiam sit amet arcu nibh. Donec sit amet ligula sed elit pellentesque facilisis eget quis sem. Donec massa est, pharetra sit amet ullamcorper volutpat, hendrerit sodales mi. Donec a orci nunc. Suspendisse congue rutrum orci, vel tincidunt lectus imperdiet varius. Nunc posuere euismod nisi at iaculis. Ut sit amet elit a nisi molestie tempor. Proin egestas pulvinar venenatis. Duis vel ligula enim, at tempor risus. Cras tristique posuere felis, ut feugiat quam egestas ac.</p>
	    </div>
	    </div>
	    <div class="row-fluid">
	    	<div class="span2 offset5">
		    	<a href="/"><button class="btn btn-primary">Siguiente</button></a>
		    </div>
	  	</div>
	</div>
</div>


{% end %}